<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Voting</title>

  <!-- from Bootstrap starter -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  <!-- jQuery included for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Feel free to add style section -->
  <style>

    .login{
      display: grid;
      place-items: center;
      height: 100vh;
      font-weight: bold;
      font-size: 1em;
    }

    body{
      background-image: url("background.jpg");
      background-size: cover;
    }
    background-image{
      opacity: 0.7;
    }
    .navbar{
      font-weight: bold;
      width: 80%;
      border-radius: 20px;
    }

    .content {
      text-align: center;
    }
  </style>

</head>
<body class = "container">
<br><br>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h5 class="text-black h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <center>
    <nav class="navbar navbar-light bg-light ">
      <a class="navbar-brand">Welcome Student</a>
      <form action = "/logout" method ="GET">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </nav>
  </center>
</div>
<br>

<% if Filenames.first.nil? %>
  <section class = "content card">
    <div class = "card-body">
      Your instructor hasn't submitted anything to vote on yet, come back later!
    </div>
  </section>
<% elsif Voting.count(:username => session[:username]) == 0 %>
  <section class = "content card">
    <div class = "card-body">
      <h1>Cast your vote: </h1>
      <form action="/cast-vote">
        <div>First place: </div>
        <select name="first">
          <% Filenames.all.each do |html| %>
            <option value="<%=html.filename %>"><%=html.filename %></option>
          <% end %>
        </select>
        <div>Second place: </div>
        <select name="second">
          <% Filenames.all.each do |html| %>
            <option value="<%=html.filename %>"><%=html.filename %></option>
          <% end %>
        </select>
        <div>Third place: </div>
        <select name="third">
          <% Filenames.all.each do |html| %>
            <option value="<%=html.filename %>"><%=html.filename %></option>
          <% end %>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </section>
  <br>
  <% Filenames.all.each do |html| %>
    <section class = "content card">
      <h2><%= html.filename %></h2>
      <iframe srcdoc="<%= html.content%>"></iframe>
    </section>
    <br>
  <% end %>
<% else %>
  <section class = "content card">
    <div class = "card-body">
      Your vote has been submitted!
    </div>
  </section>
<% end %>

</body>
</html>